/* sheared styles */
 * {
  font-family: 'Mulish', sans-serif;
}

/* header related styles */
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

.website-name{
  display: flex;
  gap: 10px;
}

.website-name p{
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
}

.booking{
  color: #FF5400;
}

nav > ul{
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 25px;
  font-size: 1rem;
  font-weight: 400;
}

nav li a{
  text-decoration: none;
  color: #424247;
  cursor: pointer;
}

nav li .home{
  color: #FF5400;
}

/* banner styles */
.banner{
  position: relative;
  text-align: center;
}

.banner-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-title{
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 800;
}

.banner-description{
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
}

.banner-input{
  padding: 20px;
  display: flex;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  gap: 20px;
}

.input{
  display: flex;
  background: #FFF;
  padding: 10px;
  border-radius: 8px;
}

.input input{
  border: 0;
  color: rgba(19, 19, 24, 0.50);
  font-weight: 400;
}

#input-btn{
  background-color: #FF5400;
  color: #FFF;
  justify-content: center;
}
#input-btn input{
  background-color: #FF5400;
  color: #FFF;
}

/* popular section related styles */
.popular{
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.popular-title{
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.popular-description{
  color: rgba(19, 19, 24, 0.70);
  font-weight: 400;
}
.popular-img{
  height: 50%;
}

.popular-btn{
  border-radius: 8px;
  border: 0;
  padding: 10px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

/* footer related styles */

footer{
  text-align: center;
  padding: 40px;
}

.footer-title{
  display: flex;
  justify-content: center;
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
}

.footer-description{
  color: #5A5A5D;
  text-align: center;
  font-weight: 400;
}

.footer-icons i{
  padding: 10px;
}

.footer-icons h3{
  color: #131318;
  font-weight: 300;
}

/* responsive design related styles */
/* media query for small devices/mobile */
@media screen and (max-width:600px) {
  nav{
    padding: 0;
    margin: 0;
  }

  .website-name p{
    color: #131318;
    font-size: 1rem;
    font-weight: 600;
  }

  .menu{
    display: none;
  }

  
  .banner-input{
    flex-direction: column;
  }

  .banner img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }

  .popular{
    flex-direction: column;
  }

  .popular img{
    width: 100%;
  }

  footer{
    padding: 0;
  }
}

/* special */
@media screen and (min-width:600px) {
  .humberger{
    display: none;
  }
}

/* media query for tablet/medium devices */
@media screen and (min-width:600px) and (max-width:992px) {
  nav{
    flex-direction: column;
  }

  .banner-input{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .banner img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }

  
  .popular img{
    height: 120%;
    width: 120%;
  }
}